@use "../../styles/partials/globals" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.countdown {
    color: $primary-color;
    font-family: "SpaceGrotesk";
    font-weight: 700;
    margin: 0;
}

.countdown-container {
    @include flexbox(row, center, center);
    min-height: 100vh;
}
